:root {
    --ff-heading: 'Epilogue', sans-serif;
    --ff-texting: 'Open san', sans-serif;
    --hue: 250;
    --bg-primary: hsla(var(--hue), 22%, 20%, 1);
    --fc-primary: #ffffff;
    --fc-secondary: hsla(var(--hue), 50%, 80%, 1);
}


body {
    font-family: var(--ff-texting);
    background-color: var(--bg-primary);
    color: var(--fc-primary);
}

header {
    font-family: var(--ff-heading);
}

header p {
    color: var(--fc-secondary);
    text-transform: uppercase;
}